{
  "ScraperFunction": {
    "BUCKET_NAME": "my-bucket",
    "RAW_PREFIX": "s3-prefix/dev/raw",
    "PROC_PREFIX": "scraper-dk/dev/processed",
    "DB_URI": "s3://my-bucket/s3-prefix/dev/db/data.duckdb",
    "AWS_REGION": "us-east-2",
    "S3_PREFIX": "s3-prefix"
  }
}
